* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #720f0f;
}
main {
    width: 290px;
    height: 500px;
    background-color: #d24c4b;
    margin: auto;
    margin-top: 20px;
    margin-bottom: auto;
    box-shadow: 50px;
}
#screen input {
    background-color: #d24c4b;
    border: 0px;
    padding: 10px;
    text-align: right;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 120px;
    font-size: 48px;
}
.buttons {
    background-color: #1e202a;
}
button {
    width: 68px;
    height: 68px;
    background-color: #1e202a;
    border: 0px;
    color: #d24c4b;
    font-family: "Roboto", sans-serif;
    font-weight: 120px;
    font-size: 18px;
}
#display {
    width: 290px;
    height: 160px;
}
.first {
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}